/* General style rule set for all items in ul */
.navbar ul {
  list-style-type: none;
  /* Remove the bullet points */
  overflow: hidden;
  /* Hide any content that overflows the navbar */
  margin-top: 20px;
  padding: 0;
  width: 100%;
  background-color: transparent;
  text-align: right;
}

/* Style rule set for individual li */
.navbar ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* Style rule set for individual li link */
.navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 15px 20px;
}

/* Style rule set for hovered link */
.navbar ul li a:hover {
  font-weight: bolder;
  color: white;
}

